<style type="text/css">
    .modal-dialog {
        margin-top: 10%;
    }

    .modal-backdrop.in {
        opacity: 10;
    }

    label {
        margin-top: 7px;
        margin-bottom: 0;
        padding: 0;
    }

    .requiredspan {
        color: #ff0000;
    }
</style>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">{{Title}}</h4>
    </div>
    <form ng-submit="GOTODestinationPage()" name="forms.frmArea" novalidate="" class="supSupplier" enter-tab>
        <div class="modal-body">
            <div style="text-align:right;">
                Fields marked<span style="color:red">* </span>are required
                <!--<div class="tooltip1"><i class="fa fa-info"></i><span class="tooltiptext">Lorem ipsum is simply dummy text for priting Lorem ipsum is simply dummy text for priting Lorem ipsum is simply dummy text for priting</span></div>-->
            </div>


            <div id="dv_TaskForm" class="input-sec-pop-up ctm_Personal" style="padding-bottom:0px !important;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="sec">
                            <p ><strong >User Name</strong>  </p>
                            <div class="input-sec">
                            <input type="text" ng-model="sName" />
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="sec">
                            <p ><strong >Password</strong>  </p>
                            <div class="input-sec">
                                <input type="text" ng-model="sUserPassword" />

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="modal-footer forforms">
            <!-- <a id="submit-button" class="order red-btn" href="#" ng-click="">Submit</a>-->
            <button type="submit" autofocus class="red-btn">Submit </button>
            <button type="button" class="red-btn" ng-click="cancel()">Cancel </button>
        </div>
    </form>
</div>